<div class="container reader-section">
<div class="col-md-9 col-md-offset-1">
	<h2>Classifications of Typefaces</h2>
	<p class="lead">Mainly, there are two categories of typefaces: Serif and Sans-Serif. The Serifs can be extended into Old Style, Modern, Transitional, and Slab-Serif.</p>
	<div class="row"><img class="img-responsive img-border" src="/sansserif.jpg" alt="Type 101"></div>
	<h3>Serif</h3>
	<p> A serif is a small line attached to the end of a stroke of a letter or symbol. You can view more about the anatomy of a typeface in my <a href="/type101#anatomy">Typography 101</a> section.</p>
	<div class="row"><img class="img-responsive img-border" src="/serif.jpg" alt="Type 101"></div>
	<h3>Old Style</h3>
	<p>Old Style typefaces hold distinct characteristics similar to
	handwritten letters. The weighted stress of rounded forms are
	placed at an angle, the serifs are bracketed, and the
	lowercase serifs sit at an angle.</p>
	<hr>
	<h3>Transitional</h3>
	<p>Transitional typefaces hold more contrast between thick and
	thin strokes, lowercase serifs are more horizontal, and the
	weighted stress in rounded forms sit more upright, rather
	than at a higher angle. Transitional typefaces have a bolder
	look than Old Style, and are usually wider.</p>
	<hr>
	<h3>Modern</h3>
	<p>Modern typefaces hold an even higher contrast between thin and
	thick strokes, as the thin strokes have been reduced to hairlines.
	The weighted stress of rounded letters is vertical, eliminating the
	rounded angle. The serifs are no longer bracketed but now sit
	at a right angle. Modern typefaces are very geometric, holding
	harsh horizontal, vertical, and rounded forms.</p>
	<hr>
	<h3>Slab</h3>
	<p>Slab&ndash;serifs were first introduced in the early 1800s. At the time there was a huge demand for ancient Egyptian artifacts,
	influencing the slab-like look of this serif font.
	These typestyles have heavy square, unbracketed serifs. The
	stress of curved strokes is minimal, and the strokes are mainly
	uniform.</p>
	<hr>
	<h3>Sans&ndash;Serif</h3>
	<p>The term <b>Sans&ndash;Serif</b> simply means "without serif"</p>
	<div class="row"><img class="img-responsive img-border" src="/helvetica.jpg" alt="Type 101"></div>
	<p>As the name implies, this type style
	does not have any serifs. The strokes are mainly uniform,
	the stress is always vertical, and like Modern typestyles;
	San Serifs possess strong geometric quality.</p>

</div>
</div>