<div class="container reader-section">
<div class="col-md-9 col-md-offset-1">
	<h2>Hierarchy</h2>
	<p class="lead">Hierarchy is arguably the most important aspect of typography. You'll notice as you read through this site the different sizes and colors which represent importance to the content.</p>
	<hr>
	<h3>Headers</h3>
	<p> Headers grab the attention. You want something that attracts the viewer and provides an oversight on what the content below will include. It should stand out in relation to your body. It doesn't neccessarily have to be a different color, but a larger font&mdash;size and heavier weight is a good start. In order to set headers in CSS the code is as follows: </p>
	<div class="html">
	h1 { <br>
		&emsp;&emsp; font-size:36px; <br>
	}
	h2 { <br>
		&emsp;&emsp; font-size:24px; <br>
	}
	</div>
	<hr>
	<h3>Body Copy</h3>
	<p> The body includes the details. It should be clean and legible and follow the content of the header. The font-size is up to you but it should hold a good contrast against the header. </p>
	<div class="html">
	body { <br>
		&emsp;&emsp; font-size:14px; <br>
		&emsp;&emsp; color: #333; <br>
	}
	</div>
	<hr>
	<p> As stated above hierarchy can be achieved in different ways. Font-weights and sizes can be mixed along with different color choices. No matter what you go with &ndash; contrast is most important. </p>


</div>
</div>